@import url(../src/components/navigation/index.css);
@import url(../src/pages/home/index.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  background-color: lightgrey;
}

.main {
  width: 100%;
  padding: 20px;
}
